<footer class="footer">
    <ul>
        <li>
            <a href="/">
                <i class="fas fa-home"></i>
                <p>메인</p>
            </a>
        </li>
        <li>
            <a href="/introduce">
                <i class="fas fa-home"></i>
                <p>소개</p>
            </a>
        </li>
        <li>
            <a href="/course">
                <i class="fas fa-home"></i>
                <p>코스</p>
            </a>
        </li>
        <li>
            <a href="/qr">
                <i class="fas fa-home"></i>
                <p>QR</p>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="fas fa-home"></i>
                <p>프로필</p>
            </a>
        </li>
    </ul>
    
</footer>